@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');

.App {
  text-align: center;
  width: 97%;
  margin: 5px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3px;
  min-height: 98vh;
  padding-bottom: 10px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.nav-bar{
  display: flex;
  justify-content: center;
  border: solid 1px; border-radius: 4px;
  background-color: #99ccff;
}

.nav-bar a{
  padding: 5px;
  display: inline-block;
}

input[type=text]:focus {
  background-color: lightblue;
}

input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  min-width: 500px;
}

input[type=note] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  min-width: 500px;
  margin-right: 10px;
}

input[type=password]:focus {
  background-color: lightblue;
}

input[type=password] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  min-width: 500px;
}

textarea {
  resize: both;
  min-height: 30vh;
}

textarea[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  min-width: 500px;
}

textarea[type=text]:focus {
  background-color: lightblue;
}

.button {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  padding: 10px 24px;
  background-color: #4CAF50;
  border-radius: 12px;
}

.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.Note-card {
  width: 50%;
  margin: 0 auto;
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 5px 10px 2px 10px;
  margin-bottom: 10px;
  border-radius: 3px;
}

.Note-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.Note-signature {
  font-size: 10px;
  font-style: italic;
  color: gray;
  text-align: right;
}

.Post-card {
  width: 90%;
  margin: 0em auto;
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 5px 10px 2px 10px;
  margin-bottom: 10px;
  border-radius: 3px;
}

.Post-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.Post-signature {
  font-size: 10px;
  font-style: italic;
  color: gray;
  text-align: left;
}

.Post-toolbar {
  font-size: medium;
}

.Comment-card {
  width: 87%;
  margin: 1em auto;
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 5px 10px 2px 10px;
  margin-bottom: 10px;
  border-radius: 3px;
}

.Comment-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.Comment-signature {
  font-size: 10px;
  font-style: italic;
  color: gray;
  text-align: left;
}

.Comment-toolbar {
  font-size: medium;
}

.p-right { padding-right: 3px; }
.p-left { padding-left: 3px; }

.material-icons.md-10 { font-size: 10px; }
.material-icons.md-12 { font-size: 12px; }
.material-icons.md-14 { font-size: 14px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }


body{
  padding: 70px 0 0 0;
}

/* NAVBAR */
#brand{
  font-size: 2rem;
  color:  rgb(153,0,0);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.pointer {
  cursor: pointer;
}

.nav{
  border-radius: 30px;
  background-color: rgb(204,204,204);
  font-family: 'Share Tech Mono', monospace;
}

.he{
  height: 700px;
}
.fa-user{
  color: green;
}

a {
  color: inherit;
  text-decoration: inherit; /* no underline */
}